body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .content{
    min-height: calc(100vh - 70px - 64px);
 }
 .movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
 }
 .validate{
    border-bottom: 2px solid #009688 !important;
 }
 .search-btn{
  position: absolute;
  top: 0px;
  right: 0.5rem;
 }
 label:not(:last-child){
  margin-right: 1rem;
 }
 .with-gap:checked+span:before{
  border: 2px solid #009688 !important;
 }
 .with-gap:checked+span:after {
  background-color: #009688 !important;
 }